
<div style="margin-top: -15px">


	<div class="row justify-content-md-center text-center ">
		<div class="col col-3 bg-white habilidades" style=" border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">

			<i class="bi-hdd-stack-fill"></i>
			<div>Back end</div>
			<p>
				Como desarrollador Front-end, he trabajado en la creación de interfaces de usuario dinámicas,
				interactivas y eficientes, utilizando tecnologías modernas.

			</p>
			<p class="text-primary cabecera">
				Stack:
			</p>
			<p>
				JavaScript, TypeScript, HTML5, CSS3
				Git, npm.

			</p>
			<p class=" text-primary cabecera">

				<ul>
					<li>Web APIs</li>
					<li>Entity Framework Core</li>
					<li>Queries especial</li>
					<li>Principios SOLID</li>
				</ul>
			</p>
		</div>


		<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">

			<i class="bi-code-slash"></i>
			<div>Front-end</div>
			<p>
				puedo crear front-ends
				robustos los cuales cumplen
				con los requerimientos del negocio.

			</p>
			<p class="text-primary cabecera">
				Stack:
			</p>
			<p>
				<UL>React.js, Angular</UL>


			</p>
			<p class=" text-primary cabecera">
				<ul>
					<li>React</li>
					<li>Angular</li>
					<li>tailwind css</li>
					<li>bootstrap 5</li>
				</ul>

			</p>
		</div>
	</div>
	</div>
