
<div class="text-center">
	<h1 class="display-4">Soy Jesús Amador</h1>


	<h2>Soy un programador entusiasta con una gran disposición para aprender y crecer en el mundo del desarrollo de software. </h2>
	<img id="foto" src="~/imagenes/im.jpg" />
</div>


<div class="row text-black">
	<div class="col-4 text-start ">
		<img id="imagen-dontnet1" src="~/imagenes/2.jpg" alt="imagen de c# y React" />
	</div>
	<div class="col-4 text-center">
		<img id="imagen-dontnet2" src="~/imagenes/3.jpg" alt="imagen de c# y React" />
	</div>
	<div class="col-4 text-end  ">
		<img id="imagen-dontnet3" src="~/imagenes/4.jpg" alt="imagen de c# y React" />

	</div>
</div>





<div class="row justify-content-center text-center bg-dark ">
	<div class=" col col-md-8  gy-2 seccion-bienvenida">
		<h1>Te doy la bienvenida a mi portafolio</h1>
		<p class="col col-md-12">
			He estado aprendiendo y aplicando mis conocimientos en C#, React, JavaScript y SQL, trabajando en el desarrollo de aplicaciones tanto del lado del cliente como del servidor.
			Me he enfocado en la creación de interfaces dinámicas con React, manejando la lógica de negocio y conectividad con bases de datos usando SQL.
			Además, he profundizado en la programación orientada a objetos con C#, mejorando mi capacidad para desarrollar soluciones eficientes y escalables.

		</p>
	</div>

</div>
